*{
    font-family: sans-serif;
}

.topbar{
    color: rgb(19, 42, 19);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
  input{
    border:2px solid rgb(50, 100, 50);
    border-radius: 10px;
    height:50px;
    width: 200px;
    font-weight: 500;
  }
  
  button{
    background-color: rgb(28, 91, 43);
    color: white;
    padding: 10px;
    width: 20vh;
    border-radius: 10px;
    font-weight: bolder;
  }
  button:hover{
    background-color:rgb(180, 68, 188);
  }
  .card{
    background-color: rgb(136, 191, 151);
    padding: 10px;
    border: 2px solid rgb(31, 92, 49);
    gap: 10px;
    display: flex;
    row-gap: 10px;
    box-shadow: 1px 1px 1px 1px ;
   
  }
  .card:hover{
    background-color: rgb(188, 68, 178);
  }
  .content{
    font-size: 20px;
    
  }